:root {
--bg-colour: #0e1c1f;
--bg-acc1: #2d464d;
--bg-acc2: #3C5E67;
--blue-acc1: #585cd5;
--green-acc1: #a5e364;
--text-col1: #F5F5F5;
--text-col2: #0f0f0f;
--title-font: "Bagel Fat One", system-ui;
--font: "DM Sans", sans-serif;
}

* {
  font-family: var(--font);
  background-color: var(--bg-colour);
  color: var(--text-col1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.container {
min-height: 100vh;
padding: 20px;
}

header {
display: grid;
grid-template-columns: auto auto auto auto;
grid-template-rows: auto;
grid-template-areas: 'title empty empty search';
margin-bottom: 1rem;
}

.title {
font-size: 3em;
font-family: var(--title-font);
grid-area: title;
color: var(--blue-acc1);
align-self: center;
}

.searchBox {
background-color: var(--bg-acc1);
grid-area: search;
padding: 0.5rem;
border-radius: 8px;
height: fit-content;
width: 100%;
align-self: center;
}

.searchInput {
padding: 0.5rem;
border-radius: 4px;
width: 100%;
border: none;
}

.buttonBox {
background-color: var(--bg-acc1);
border-radius: 8px;
padding: 1rem;
display: flex;
justify-content: space-around;
margin-bottom: 1rem;
}

.groups-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--blue-acc1); 
}

.groupsBox {
background-color: var(--bg-acc2);
border-radius: 8px;
padding: 15px;
display: flex;
flex-direction: column;
gap: 10px;
}

.groupItem {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}

.groupLeft {
display: flex;
align-items: center;
gap: 15px;
}

.groupIcon {
width: 50px;
height: 50px;
background-color: #555;
border-radius: 4px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
font-size: 12px;
}

.groupName {
font-size: 18px;
}

.groupOwner {
font-size: 14px;
color: #ccc;
}

@media only screen and (max-width: 740px) {
.container {
padding: 10px;
}

.groupIcon {
width: 40px;
height: 40px;
font-size: 10px;
}

.groupName {
font-size: 16px;
}

.groupOwner {
font-size: 12px;
}
}